<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <!-- <img src="assets/img/AdminLTELogo.png" alt="Gif App" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
    <i class="fas fa-gift"></i>
    <span class="brand-text font-weight-light ml-2">Gif App</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item"
          *ngFor="let tag of tagsHistory"
        >
          <a href="#" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>
               {{ tag | titlecase }}
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
