<div class="wrapper">

  <!-- Navbar -->
  <shared-navbar></shared-navbar>

  <!-- Main Sidebar Container -->
  <shared-sidebar></shared-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <shared-page-header></shared-page-header>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">

        <gifs-home-page></gifs-home-page>

      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
 <shared-rightbar></shared-rightbar>

  <!-- Main Footer -->
  <shared-footer></shared-footer>

</div>
