<div class="card  bg-dark">
  <div class="card-header">
    <h5 class="m-0 font-weight-bold text-center">{{ gif.title || 'Sin título' | titlecase }}</h5>
  </div>
  <div class="card-body">
      <shared-lazy-image
        [url]="gif.images.downsized_medium.url"
        [alt]="gif.title || 'No name'"
      >
      </shared-lazy-image>
  </div>
  <div class="card-footer text-center">
    <button class="btn btn-secondary btn-sm"
    (click)="copyClipboard(gif.images.downsized_medium.url)"
    title="Copiar al portapapeles">
      Copiar link
    </button>
  </div>
</div>
